:root {
  --color-fondo: #4d65dc;
  --color-claro: #FAFAFA;
  --color-oscuro: #333333;
  --color-tarjeta: #f8f9b4dd;
  --color-botones: #004259;
  --color-detalles: #82D0D8;
}

body {
  background-color: var(--color-fondo);
  padding: 2rem;
}

.icono-todo {
  width: 100px;
}

hr {
  border: 2px solid var(--color-detalles);
}

.card {
  border: 2px solid var(--color-detalles);
  color: var(--color-oscuro);
}

.card-body {
  padding-bottom: 0.5rem;
}

.contenido-tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

h2 {
  font-size: 1.25rem;
}

.estado-tarea {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  margin-right: 1rem;
}

.iconos {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.iconos i {
  color: var(--color-botones);
  font-size: 1.25rem;
}

.iconos i:hover {
  color: var(--color-detalles);
}

.detalles-tarea {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 1rem;
}

.detalle-etiqueta {
  font-weight: 600;
}

.detalle-valor {
  font-weight: 400;
}

#nueva-tarea {
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid var(--color-detalles);
}

#nueva-tarea::placeholder {
  font-size: 1.1rem;
  font-weight: 400;
}

#boton-agregar-tarea {
  background-color: var(--color-botones);
  border: none;
  padding: 1rem 2rem; 
  font-weight: 600;
}

#boton-agregar-tarea:hover {
  background-color: var(--color-detalles);
}

.form-check-input {
  border: 2px solid var(--color-detalles);
}

.form-check-input:checked {
  background-color: var(--color-botones);
  border: 2px solid var(--color-detalles);
}

.invalid {
  margin-top: 1rem;
}

.finalizada {
  text-decoration: line-through;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  body {
    padding: 4rem;
  }

  .contenido-tarea {
    padding: 1rem;
  }

  .detalles-tarea {
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
    justify-content: space-evenly;
  }
  
}